@tailwind base;
@tailwind components;
@tailwind utilities;

.icoInput1 {
    background-image:url(./Components/Navbar/lupabuscar.png);
    background-repeat: no-repeat; 
    background-position: 97% 50%;
    background-size: 15px 15px;
}

.iconosNavbar {
    width: 24px;
    height: 24px;
}

.Card{
    @apply w-64 h-auto shadow-lg rounded-lg flex-none transition-all hover:-translate-y-4 hover:shadow-xl
}

.titBest{
    text-decoration-thickness: 3px;
}